<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simple Input App</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <taghelper>
    </taghelper>
</head>
<body>
    <header>
        <h1 style="color:forestgreen">Simple Input App</h1>
    </header>

    <main role="main" class="container">
        @RenderBody() 
    </main>

    <footer>
        <p>&copy; 2023 - Simple Input App</p>
        <p style="color:blue">Student Name: Francis Bolie</p>
    </footer>
</body>
</html>
